@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.ttf") format("TrueType");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.ttf") format("TrueType");
}
@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light.ttf") format("TrueType");
}
@font-face {
  font-family: "Karla-Regular";
  src: url("../fonts/Karla-Regular.ttf") format("TrueType");
}
.core {
  position: relative;
}
.core__scroll-top {
  position: fixed;
  bottom: 5%;
  left: 5%;
  color: #6DDCBD;
  font-size: 40px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s ease;
  opacity: 0;
}
.core__scroll-top:hover {
  bottom: 6%;
  transition: all 0.2s ease;
}
.core__lottie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 100;
  transition: all 0.5s ease-out;
}

.nav {
  width: 100%;
  position: relative;
  padding: 30px 40px;
  font-size: 14px;
  font-family: "Rubik-Light", serif;
}
.nav__logo {
  top: 60%;
  transform: translateY(-50%);
  position: absolute;
  display: inline;
  left: 40px;
}
.nav__logo svg {
  height: 50px;
  width: 50px;
}
.nav__social {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.nav__social__item i {
  color: #0e76a8;
  font-size: 24px;
}
.nav__social__item i:hover {
  cursor: pointer;
  animation: shake 700ms infinite;
  animation-timing-function: linear;
}
.nav__mobile {
  display: none;
}
.nav__mobile__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5e4ae3;
  transition: all 0.7s ease-in-out;
  top: -100%;
  z-index: 3;
  display: none;
}
.nav__mobile__background.active {
  top: 0;
  transition: all 0.4s ease-in-out;
}
.nav__mobile__hamburger-icon {
  transform: translateY(-50%);
  top: 50%;
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  transition: all 0.7s ease;
}
.nav__mobile__hamburger-icon:before, .nav__mobile__hamburger-icon:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  transition: all 0.5s ease;
}
.nav__mobile__hamburger-icon:before {
  top: -200%;
}
.nav__mobile__hamburger-icon:after {
  top: 200%;
}
.nav__mobile__hamburger-icon-container {
  position: absolute;
  right: 4%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: inline-block;
  z-index: 5;
}
.nav__mobile__hamburger-icon-container.active .nav__mobile__hamburger-icon {
  transform: rotate(45deg) translate(-3px, -3px);
  transition: all 0.2s ease;
}
.nav__mobile__hamburger-icon-container.active .nav__mobile__hamburger-icon:before, .nav__mobile__hamburger-icon-container.active .nav__mobile__hamburger-icon:after {
  top: 0;
  background: white;
  transition: all 0.2s ease;
}
.nav__mobile__hamburger-icon-container.active .nav__mobile__hamburger-icon:before {
  transform: rotate(90deg);
}
.nav__mobile__items {
  position: relative;
  width: 100%;
  top: -180px;
  height: 0;
  opacity: 0;
  z-index: 3;
  /* So the menu doesn't cover the hamburger icon when it's hidden */
  --webkit-transition: all .6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.nav__mobile__items__item {
  text-align: right;
  margin: 5px 0;
  font-size: 80px;
  color: #fff;
}
.nav__mobile__items__item__social {
  position: absolute;
  right: 0;
}
.nav__mobile__items__item__social i {
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  font-size: 50px;
  margin: 30px 0;
}
.nav__mobile__items__item:after {
  content: "";
  background: #fff;
  width: 0;
  position: absolute;
  right: -5px;
  z-index: -10;
  height: 115px;
  --webkit-transition: all .3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav__mobile__items__item.active {
  color: #5e4ae3;
  --webkit-transition: all .7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.nav__mobile__items__item.active:after {
  width: 80%;
  --webkit-transition: all .3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav__mobile__items.active {
  opacity: 1;
  top: 120px;
  z-index: 3;
  --webkit-transition: all .4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.nav__mobile__items ul {
  list-style: none;
}
.nav__mobile__items li {
  position: relative;
  padding: 10px 0;
  text-align: left;
  color: #ababab;
  left: 0;
  font-size: 20px;
  --webkit-transition: all .3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav__mobile__items li:hover {
  color: #2d2d2a;
  cursor: pointer;
  left: 10px;
  --webkit-transition: all .3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav__desktop {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.nav__desktop__items {
  text-align: center;
}
.nav__desktop__items__item {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  color: #888888;
  font-size: 16px;
}
.nav__desktop__items__item:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: #5e4ae3;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s ease-in-out;
}
.nav__desktop__items__item:hover {
  cursor: pointer;
  color: #2d2d2a;
}
.nav__desktop__items__item.active {
  color: #2d2d2a;
}
.nav__desktop__items__item.active:after {
  width: 75%;
  transition: all 0.2s ease-in;
}
@media only screen and (max-width: 1023px) {
  .nav__logo {
    transform: none;
  }
  .nav__logo svg {
    width: 100px;
    height: 100px;
  }
  .nav__mobile {
    display: block;
  }
  .nav__mobile__background {
    display: block;
  }
  .nav__mobile__hamburger-icon {
    height: 7px;
  }
  .nav__mobile__hamburger-icon-container {
    height: 85px;
    width: 70px;
  }
  .nav__mobile__hamburger-icon:before, .nav__mobile__hamburger-icon:after {
    height: 7px;
  }
  .nav__social {
    display: none;
  }
}

@keyframes shake {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
.map {
  padding: 60px 0 0;
  position: relative;
}
.map__text {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  padding: 0 45px;
}
.map__text__container {
  position: relative;
  height: 400px;
  width: 500px;
}
.map h1 {
  font-family: "Rubik-Bold", serif;
  text-transform: uppercase;
  line-height: 3.5rem;
}
.map p {
  font-family: "Karla-Regular", serif;
  font-size: 20px;
}
.map__googlemap {
  width: 99%;
  right: 2px;
  position: absolute;
  height: 99%;
  top: 2px;
}
.map__shadow {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 300px;
  box-shadow: inset 0 -30px 50px 70px #fff;
  z-index: 2;
}
.map__container {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  pointer-events: none;
  overflow: hidden;
  padding: 60px 36px;
  max-width: 1300px;
}
@media only screen and (max-width: 1023px) {
  .map__container {
    height: 400px;
    margin: 50px 0;
  }
  .map__googlemap {
    left: 50%;
    transform: translateX(-50%);
    width: 149%;
  }
  .map__shadow {
    height: 450px;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
  }
  .map__text {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .map h1 {
    line-height: 5.5rem;
    font-size: 85px;
    margin: 80px 0 20px;
  }
  .map p {
    font-size: 26px;
  }
}

.particles {
  height: 700px;
  width: 100%;
  left: -100px;
  background: #fff;
  position: relative;
}
.particles__text {
  position: absolute;
  right: -5%;
  top: 40%;
  transform: translateY(-50%);
  pointer-events: none;
}
.particles__text h3 {
  font-family: "Rubik-Bold", serif;
}
.particles__text p {
  font-family: "Karla-Regular", serif;
  font-size: 20px;
}

.binary {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.binary h3 {
  color: #8A78FF;
  font-size: 22px;
  margin: 0 0 20px 20px;
  font-family: "Rubik-Bold", serif;
}
.binary form {
  z-index: 100;
  position: relative;
  margin: 0 20px;
}
.binary canvas {
  display: block;
  position: relative;
}
.binary__blurred-box {
  position: absolute;
  width: 50%;
  height: 75%;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
  overflow: hidden;
  background: inherit;
}
.binary__blurred-box__button {
  position: relative;
  border-radius: 2px;
  border: 1px solid #8a78ff;
  padding: 10px;
  color: #8a78ff;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.binary__blurred-box__button:hover {
  border-width: 2px;
}
.binary__blurred-box:after {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(94, 74, 227, 0.25);
  filter: blur(15px);
}
.binary__blurred-box__inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
.binary__blurred-box__inner__input {
  position: relative;
}
.binary__blurred-box__inner__input label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 20px;
  color: #8a78ff;
  font-weight: bold;
  opacity: 90%;
  transition: all 0.3s ease-out;
  left: 0;
}
.binary__blurred-box__inner__input label#messageLabel {
  top: 10%;
  transform: none;
}
.binary__blurred-box__inner__input textarea {
  border-radius: 2px;
  background: inherit;
  border: 1px solid #8a78ff;
  color: #fff;
  line-height: 1.8;
  resize: none;
}
.binary__blurred-box__inner__input textarea:focus {
  background: inherit;
}
.binary__blurred-box__inner__input textarea:focus + label {
  left: 75%;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.binary__blurred-box__inner__input textarea:nth-of-type(2) {
  height: 125px;
  overflow: scroll;
}