@use 'core' as *;

.binary {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;

  h3 {
    color: #8A78FF;
    font-size: 22px;
    margin: 0 0 20px 20px;
    font-family: "Rubik-Bold", serif;
  }

  form {
    z-index: 100;
    position: relative;
    margin: 0 20px;
  }

  canvas {
    display: block;
    position: relative;
  }
}
