@use 'core' as *;

.lottie {
  position: relative;
  height: 775px;
  overflow: hidden;

  #lottie-mobile {
    position: absolute;
    opacity: 0;
  }

  &-black {
    display: none;
  }

  lottie-player {
    position: absolute;
    top: -100px;
    right: -35%;
    width: auto;
    height: 100%;
    display: block;
  }

  &__text {
    position: relative;
    left: 10%;
    top: 0;
    max-width: 90%;
  }

  @media only screen and (min-width: 639px) and (max-width: 1023px) {
    &__text {
      max-width: 50%;
    }
  }

  @media only screen and (max-width: 1023px) {
    &__text {
      left: 5%;
    }
  }

 @media only screen and (max-width: 639px) {

  height: 625px;

  lottie-player {
    opacity: 0;
  }

  #lottie-mobile {
    opacity: 1;
  }

  &__text {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;

    p {
      font-size: 20px;
    }
  }
}
}
