@use 'core' as *;

.map {
  $this: ".map";

  position: relative;
  overflow: hidden;

  &__name {
    top: 0%;
    position: absolute;
    opacity: 0;

    h2 { 
      font-family: "Rubik-Bold", $fallbackFonts;
      text-transform: uppercase;
      color: $blue;
      margin-bottom: 20px;
      font-size: 40px;
    }

    &.loaded {
      animation: textDropIn-10;
      animation-duration: 0.85s;
      animation-delay: .2s;
      animation-fill-mode: forwards;
    }
  }

  &__text {
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    opacity: 0;

    &.loaded {
      animation: textDropIn-50;
      animation-duration: 0.85s;
      animation-fill-mode: forwards;
    }

    &__container {
      position: absolute;
      height: 400px;
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      max-width: 750px;
      left: 5%;
    }

    h1 {
      font-family: "Rubik-Bold", $fallbackFonts;
      text-transform: uppercase;
      line-height: 3.5rem;
      font-weight: 600;
      font-size: 50px;
    }
  }

  &__googlemap {
    width: 100%;
    right: 0;
    position: absolute;
    height: 101%;
    top: 15px;
  }

  &__shadow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100%;
    box-shadow: inset 0 -10px 50px 85px #fff;
    z-index: 2;
    display: none;
  }

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
    overflow: hidden;
  }

  @media only screen and (max-width: 1023px) {
  height: auto;

    &__container {
      height: 400px;
      right: 0;
      border-radius: 0;
    }

    &__name {
      position: relative;
      padding: 0;

      h2 {
        line-height: 1rem;
      }
    }

    &__googlemap {
      width: 149%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 0;
    }

    &__shadow {
      display: block;
    }

    &__text {
      padding: 0;

      &__container {
        position: relative;
        margin: 0 auto;
        text-align: center;
        top: 100px;
        width: 90%;
        transform: none;
      }
    }
  }

@media only screen and (max-width: 639px) {
  &__name {
    h2 {
      font-size: 2em;
      line-height: 1em;
    }
  }

  &__text {
    h1 {
      font-size: 36px;
      line-height: 1.2em;
    }

    &__container {
      width: 95%;
    }
  }
}
}

$tops: (50, 3), (10, 1);

@each $top, $offset in $tops {
  @keyframes textDropIn-#{$top} {
    0% {
      top: 0%;
      opacity: 0;
    }
    50% {
      top: unquote($string: $top + $offset + "%");
    }
    100% {
      top: unquote($string: $top + "%");
      opacity: 1;
    }
  }
}
