@use 'core' as *;

.map {
  $this: ".map";

  position: relative;
  overflow: hidden;
  padding-top: 50px;

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0 0 45px;

    &__container {
      position: relative;
      height: 400px;
      width: 500px;
    }

  h1 {
    font-family: "Rubik-Bold", $fallbackFonts;
    text-transform: uppercase;
    line-height: 3.5rem;
    font-weight: 600;
  }
}

  &__googlemap {
    width: 99%; // Fixes slight overflow problem
    right: 2px; // see above
    position: absolute;
    height: 99%;
    top: 2px;
  }

  &__shadow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;
    box-shadow: inset 0 -10px 50px 85px #fff;
    z-index: 2;
  }

  &__container {
    position: relative;
    height: 300px;
    width: 100%;
    margin: 30px auto;
    pointer-events: none;
    overflow: hidden;
    padding: 60px 36px;
    max-width: 1300px;
  }

  @media only screen and (max-width: 1023px) {
    margin-bottom: 50px;
    padding-top: 0;

    &__container {
      height: 400px;
    }

    &__googlemap {
      left: 50%;
      transform: translateX(-50%);
      width: 149%;
    }

    &__shadow {
      height: 450px;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
    }

    &__text {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 45px;
      text-align: center;
      position: relative;

      &__container {
        margin: 0 0 40px;
        height: auto;
      }
    }

    h1 {
      line-height: 5.5rem;
      font-size: 85px;
      margin: 80px 0 20px;
    }

    p {
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 639px) {
    &__text {

      &__container {
        margin: 40px 0;
      }

      h1{
        font-size: 40px;
        line-height: 3.5rem;
        margin: 40px 0 20px;
      }
    }
  }
}
