@use 'core' as *;

.particles {
  height: 500px;
  width: 100%;
  margin-bottom: 125px;
  left: -100px;
  position: relative;
  z-index: 1;

  &__text {
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    &.dark {
      color: #fff;
    }

    h3 {
      font-family: "Rubik-Bold", serif;
    }

    p {
      font-family: "Karla-Regular", serif;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 799px) {
    display: none;
  }
}
