@use 'core' as *;

.particles {

  width: 100%;
  left: -100px;
  height: 500px;
  position: relative;
  z-index: 1;

  &__container {
    width: 500px;
    height: 400px;
    overflow: hidden;

  }

  &__text {
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    &.dark {
      color: #fff;
    }

    h3 {
      font-family: "Rubik-Bold", serif;
    }

    p {
      font-family: "Karla-Regular", serif;
      font-size: 20px;
    }
  }
}
