@font-face {
  font-family: "Adobe Clean Regular";
  src: url("../fonts/AdobeClean-Regular.eot");
  src: url("../fonts/AdobeClean-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AdobeClean-Regular.woff") format("woff"),
    url("../fonts/AdobeClean-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$html: #e34c26;
$sass: #cc6699;
$js: #f0db4f;
$python: #306998;
$github: #1d202d;
$ai: #fbb034;
$ps: #0487d9;
$ae: #6e4796;

$transitionDuration: 0.5s;
$transition: all $transitionDuration ease-in-out;

$skills: ("html", $html, "100"), ("sass", $sass, "80"),
  ("js", $js, "75"), ("python", $python, "60"),
  ("github", $github, "90"), ("ai", $ai, "90"), ("ps", $ps, "90"),
  ("ae", $ae, "70");

$icons: ("fa-html5", $html), ("fa-sass", $sass),
  ("fa-js-square", $js), ("fa-python", $python),
  ("fa-github", $github);

.skills {
  position: relative;
  margin: 0 2% 50px;

  &__box {
    position: relative;
    padding: 40px;
    text-align: center;

    img {
      width: 40px;
      vertical-align: bottom;
    }

    i,
    img {
      position: relative;
      margin-right: 10px;
      display: inline-block;
      font-size: 46px;

      @each $icon, $color in $icons {
        &.#{$icon} {
          color: #{$color};
        }
      }
    }

    &__loader {
      position: relative;
      display: inline-block;
      padding: 12px;
      width: 60%;
      height: auto;
      border-radius: 23px;
      background: #ffffff;
      box-shadow: 5px 5px 24px #e8e8e8, -5px -5px 24px #ffffff;

      &__inner {
        position: relative;
        left: 0;
        top: 0;
        height: 8px;
        border-radius: 10px;
        width: 0;

        @each $label, $bg, $width in $skills {
          &.#{$label} {
            background: #{$bg};

            &.loaded {
              width: #{$width} + "%";
              transition: $transition;
            }

            i {
              position: absolute;
              right: -5px;
              top: -40px;
              margin-right: 0;
              font-size: 22px;
              color: #d1d1d1;

              &:after {
                content: "#{$width}%";
                font-size: 16px;
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    &__box {
      i,
      img {
        margin: 0 auto 20px;
        display: block;
      }

      &__loader {
        width: 100%;
      }
    }

    &__text {
      text-align: center;
    }
  }
}
