{% extends "www/base.html" %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <section class="map">
        <div class="grid-x">
            <div class="cell large-6 medium-12 small-12 map__text__container">
                <div class="map__text">
                    <h1>Need a creative web developer?</h1>
                    <p>Looks like you're based in <span id="cityElement"></span>, we're <span id="distanceElement"></span> miles from eachother</p>
                </div>
            </div>
            <div class="cell large-6 medium-12 small-12 map__container">
                <div class="map__shadow"></div>
                <div id="map" class="map__googlemap">

                </div>
            </div>
        </div>
    </section>

     <section class="particles">
        <div class="particles__container" id="particles-container">
        </div>
     <div class="particles__text">
         <h3>SAUCY INTERACTIVE JAVASCRIPT</h3>
         <p>Don't waste too much of the working day playing with this..</p>
     </div>
    </section>

    <section id="binary" class="binary">
        <canvas id="canvas"></canvas>
        <div class="binary__blurred-box">
            <div class="binary__blurred-box__inner">
            <h3>Want to drop me a few lines?</h3>
            <form>
                <div class="binary__blurred-box__inner__input">
                <textarea rows="1" id="name"></textarea>
                <label for="name" data-label>Your Name</label>
                </div>
                <div class="binary__blurred-box__inner__input">
                <textarea rows="4" id="message"></textarea>
                <label id="messageLabel" for="message" data-label>Your message</label>
                </div>
                <div class="binary__blurred-box__button">Send</div>
            </form>
            </div>
        </div>
    </section>

{% endblock %}
