{% extends "www/base.html" %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <section class="map">
        <div class="grid-x">
            <div class="cell large-6 medium-12 small-12 map__text__container">
                <div class="map__text">
                    <h1>Need a creative web developer?</h1>
                    <p>Looks like you're based in {{ test }}, we're {{ miles }} from eachother</p>
                </div>
            </div>
            <div class="cell large-6 medium-12 small-12 map__container">
                <div class="map__shadow"></div>
                <div id="map" class="map__googlemap">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
